HTML CSS JSResult Skip Results Iframe
EDIT ON
#photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  max-height: 440px;
  max-width: 440px;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

6 lines (216 sloc)  3.9 KB

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #420B90;
  /* min-height: 100vh; */
  display: grid;
  place-items: center;
  padding: 1rem;
  font-family: Cursive;
}

Resources1× 0.5× 0.25×Rerun
